/*
* @Author: Marte
* @Date:   2017-05-18 09:32:23
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-18 10:23:22
*/
.wl_column_jg{width:197px;height:30px;line-height:30px;text-align: center;font-size:16px;color:#fff;background: rgba(75,75,75,0.5);position: absolute;top:132px;left: 0;display:none;}
.wl_column>ul>li:hover div.wl_column_jg{display: block;cursor:pointer;}
.wl_column>ul>li{cursor:pointer;}
.zcjd_img{display: block;width:24px;height:17px;margin:0 6px;float:left;}
.float_right{float: right;}
.zscq_li li{margin:0 28px 20px 0;}